{%- extends '@WexampleSymfonyLoaderBundle/layouts/demo/layout.html.twig' -%}

{%- block page_body -%}
    <div class="inline-info">
        <div class="info">
            {{ '@page::infos.layout_name' | trans }} : <b>{{ render_pass.layoutRenderNode.view }}</b>
        </div>
    </div>
    <h2>{{ '@page::breakpoints.title' | trans }}</h2>
    <div class="blocks blocks-no-stretch blocks-side-column-left">
        <div class="blocks-col">
            {% for name, sizeMin in display_breakpoints %}
                <div class="inline-info display-breakpoint display-breakpoint-{{ name }}">
                    <div class="pill size-name">{{ name }}</div>
                    <div class="size-min">{{ sizeMin }}px</div>
                </div>
            {% endfor %}
        </div>
        <div class="block color-scheme-light">
            {{ '@page::breakpoints.body' | trans | raw }}
            <br>
            <br>
            {{ ('@page::breakpoints.body_' ~ (render_pass.isUseJs() ? '' : 'no_') ~ 'js') | trans | raw }}
        </div>
    </div>
    <h2>{{ '@page::resources.title' | trans }}</h2>
    <div class="block">
        {{ ('@page::resources.body_' ~ (render_pass.isUseJs() ? '' : 'no_') ~ 'js') | trans | raw }}
	    {% if render_pass.isUseJs() %}
	        {{ vue(render_pass, '@WexampleSymfonyLoaderBundle/vue/debug-assets') }}
	    {% endif %}
    </div>
    <h2>{{ '@page::page.title' | trans }}</h2>
    <div class="block">
        {{ '@page::page.body' | trans }}
        <div>
            <br>
            <button id="responsive-page-m-button" disabled="disabled">Ce boutton ne fonctionne qu'en largeur d'écran "m".</button>
        </div>
    </div>
{%- endblock -%}