{%- extends '@WexampleSymfonyLoaderBundle/layouts/demo/layout.html.twig' -%}

{%- block page_body -%}
    <h2>{{ '@page::components.init.title' | trans }}</h2>
    <h3>{{ '@page::components.init.parent.title' | trans }}</h3>
    <div class="block">
        {{ '@page::components.init.parent.body' | trans }}
        {{ component_init_parent(render_pass, '@WexampleSymfonyLoaderBundle/components/demo-init') }}
    </div>
    <div class="block">
        &lt;div class="it-will-be-component-element"&gt;<br>
        &nbsp;&nbsp;{{ '{{ component_init_parent(\'components/demo-init\') }}' }}<br>
        &nbsp;&nbsp;...<br>
        &lt;/div&gt;
    </div>
    <h3>{{ '@page::components.init.previous.title' | trans }}</h3>
    <div class="block">
        {{ '@page::components.init.previous.body' | trans }}
    </div>
    {{ component_init_previous(render_pass, '@WexampleSymfonyLoaderBundle/components/demo-init') }}
    <div class="block">
        &lt;div class="it-will-be-component-element"&gt;...&lt;/div&gt;<br>
        {{ '{{ component_init_previous(\'components/demo-init\') }}' }}<br>
    </div>

    <h3>{{ '@page::components.init.class.title' | trans }}</h3>
    <div class="block {{ component_init_class(render_pass, '@WexampleSymfonyLoaderBundle/components/demo-init') }}">
        {{ '@page::components.init.class.body' | trans }}
    </div>
    <div class="block">
        &lt;div class="it-will-be-component-element {{ '{{ component_init_class(\'components/demo-init\') }}' }}"&gt;...&lt;/div&gt;
    </div>

    <h3>{{ '@page::components.init.server_side.title' | trans }}</h3>
    <div class="block">
        {{ '@page::components.init.server_side.body' | trans }}
        {{ component(render_pass, '@WexampleSymfonyLoaderBundle/components/demo-server-side-component') }}
    </div>
{%- endblock -%}