{%- extends '@WexampleSymfonyLoaderBundle/layouts/test/layout.html.twig' -%}

{%- block layout_config -%}
    {{ parent() }}
    {{- var_export(render_pass, 'initialLayoutVar', true) -}}
    {{- var_export(render_pass, 'enableAggregation', render_pass.enableAggregation) -}}
    {{- trans_js(render_pass, '@layout::string.client_side') -}}
{%- endblock -%}

{%- block page_config -%}
    {{ parent() }}
    {{- var_export(render_pass, 'initialPageVar', true) -}}
    {{- var_export(render_pass, 'demoVariableBoolean', true) -}}
    {{- var_export(render_pass, 'demoVariableInteger', 123) -}}
    {{- var_export(render_pass, 'demoVariableFloat', 12.3) -}}
    {{- var_export(render_pass, 'demoVariableObject', {testVar:'test'}) -}}
    {{- trans_js(render_pass, '@page::firstGroup.*') -}}
    {{- trans_js(render_pass, '@page::secondGroup.first') -}}
{%- endblock -%}

{%- block page_body -%}
    <div class="tests-results"></div>
    <div class="test-string">TESTS PAGE</div>
    <div id="test-layout-translation">{{ '@layout::secondGroup.first' | trans }}</div>
    <div id="test-layout-component">{{ component(render_pass, '@WexampleSymfonyLoaderBundle/components/test-component', {testOption:true}) }}</div>
    <div id="test-playground"></div>
{% endblock %}